<link rel="import" href="/vendors/polymer/polymer.html">
<link rel="import" href="ajax.html">
<link rel="import" href="publisher.html">

<polymer-element name="x-authentication" attributes="authenticated">
    <template>
        <x-ajax id="ajaxLogin" url="/api/login" on-core-response="{{_handleAuthentication}}" method="post" contentType="application/json" handleAs="json"></core-ajax>
        <x-ajax id="ajaxLogout" url="/api/logout" on-core-response="{{_handleAuthentication}}" method="post" contentType="application/json" handleAs="json"></core-ajax>
        <x-publisher id="publisher" topics="user-authenticated" on-topic="{{_handleMessage}}"></x-publisher>
    </template>
    <script>
        Polymer('x-authentication', {
            publish: {
                authenticated: {
                    value: false,
                    reflect: true
                }
            },
            authenticatedChanged: function(oldValue, newValue) {
                if(oldValue != newValue) {
                    var data = { isAuthenticated: newValue };
                    this.$.publisher.broadcast('user-authenticated', data)
                }
            },
            ready: function() {
            },
            logout: function() {
                var xhr = this.$.ajaxLogout;

                xhr.body = JSON.stringify({
                    username: this.username
                });

                xhr.go();
            },
            login: function(username, password) {
                var xhr = this.$.ajaxLogin;
                
                xhr.body = JSON.stringify({
                    username: username,
                    password: password
                });

                xhr.go();
            },
            _handleMessage: function(e) {
                this.authenticated = e.detail.data.isAuthenticated
                //this.fire('authenticated', { isAuthenticated: e.detail.data.isAuthenticated });
            },
            _handleAuthentication: function(e) {
                this.authenticated = e.detail.response.isAuthenticated;
            }
        });
    </script>
</polymer-element>