<link rel="import" href="/vendors/polymer/polymer.html">
<link rel="import" href="authentication.html">

<polymer-element name="x-login" attributes="username password">
    <template>
        <link rel="stylesheet" href="/vendors/semantic-ui/build/minified/collections/grid.min.css" />
        <link rel="stylesheet" href="/vendors/semantic-ui/build/minified/collections/form.min.css" />
        <link rel="stylesheet" href="/vendors/semantic-ui/build/minified/elements/button.min.css" />
        <link rel="stylesheet" href="/vendors/semantic-ui/build/minified/elements/segment.min.css" />
        <x-authentication id="authentication" authenticated="{{isAuthenticated}}"></x-authentication>

        <div class="ui fluid form segment">

            <!-- Only show this if user is not authenticated -->
            <template if="{{!isAuthenticated}}">
                <h3>Login component</h3>
                <div class="field">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" value="{{username}}" />
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="{{password}}" />
                </div>
                <button class="ui blue submit button" on-click="{{onLogin}}">Login</button>
            </template>

            <!-- Only show this if user is authenticated -->
            <template if="{{isAuthenticated}}">
                <h3>Logout component</h3>
                <button class="ui red submit button" on-click="{{onLogout}}">Logout</button>
            </template>

        </div>
    </template>
    <script>
        (function() {
            Polymer('x-login', {
                publish: {
                    username: {
                        value: '',
                        reflect: true
                    },
                    password: {
                        value: '',
                        reflect: true
                    }
                },
                isAuthenticated: false,
                onLogout: function() {
                    var x = this.$.authentication;
                    x.logout();
                },
                onLogin: function() {
                    var x = this.$.authentication;
                    x.login(this.username, this.password);
                }
            })  
        })();
    </script>
</polymer-element>