<link rel="import" href="/vendors/polymer/polymer.html">

<polymer-element name="x-login" attributes="username password">
    <template>
        <link rel="stylesheet" href="/vendors/semantic-ui/build/minified/collections/grid.min.css" />
        <link rel="stylesheet" href="/vendors/semantic-ui/build/minified/collections/form.min.css" />
        <link rel="stylesheet" href="/vendors/semantic-ui/build/minified/elements/button.min.css" />
        <link rel="stylesheet" href="/vendors/semantic-ui/build/minified/elements/segment.min.css" />

        <div class="ui fluid form segment">
            <h3>Polymer component</h3>
            <p>This component uses the User API and listens to the User.onAuthenticated event</p>
            <!-- Only show this if user is not authenticated -->
            <template if="{{!isAuthenticated}}">
                <div class="field">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" value="{{username}}" />
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="{{password}}" />
                </div>
                <button class="ui blue submit button" on-click="{{onLogin}}">Login</button>
            </template>

            <!-- Only show this if user is authenticated -->
            <template if="{{isAuthenticated}}">
                <button class="ui red submit button" on-click="{{onLogout}}">Logout</button>
            </template>

        </div>
    </template>
    <script>
        (function() {
            Polymer('x-login', {
                publish: {
                    username: {
                        value: '',
                        reflect: true
                    },
                    password: {
                        value: '',
                        reflect: true
                    }
                },
                ready: function() {
                    var self = this;
                    User.onAuthenticated(function(state) {
                        if(self.isAuthenticated != state.isAuthenticated)
                            self.isAuthenticated = state.isAuthenticated;
                    });
                },
                isAuthenticated: false,
                onLogout: function() {
                    var self = this;
                    User.logout()
                        .then(function(state) {
                            self.isAuthenticated = state.isAuthenticated;
                        })
                        .catch(function(error) {
                            // do something with the error
                        });
                },
                onLogin: function() {
                    var self = this;

                    User.login(self.username, self.password)
                        .then(function(state) {
                            self.isAuthenticated = state.isAuthenticated;
                        })
                        .catch(function(error) {
                            // do something cause we didn't login ... the promise was rejected
                            console.log(error);
                        });
                }
            })  
        })();
    </script>
</polymer-element>