<link rel="import" href="/vendors/polymer/polymer.html" />

<polymer-element name="x-pubsub" attributes="topics">
    <script>
        (function() {

            // We assume that the PubSub object is available globally
            var _pubsub = window.PubSub;

            Polymer('x-pubsub', {
                _tokens: [],
                topics: [],
                publish: function(topic, data) {
                    _pubsub.publish(topic, data);
                },
                topicsChanged: function(oldValue, newValue) {

                    var self = this;

                    // unsubscribe the old topics
                    this._tokens.forEach(function(token) {
                        _pubsub.unsubscribe(token);
                    });

                    // subscribe to the new ones
                    if(typeof this.topics === 'string')
                        this.topics = [this.topics];

                    // subscribe to each topic
                    this.topics.forEach(function(topic) {
                        var token = _pubsub.subscribe(topic, function(msg, data) {
                                        self.fire('topic', { topic: msg, data: data });
                                    });

                        self._tokens.push(token);
                    });
                }
            });
        })();
    </script>
</polymer-element>